<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Home Page</title>
</head>
<body>
            {% with messages = get_flashed_messages() %} 
            {% if messages %}
                <ul class=flashes>                 
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <br>
    <h2>{{users['first_name']}} {{users['last_name']}}</h2>
    <a href="/logout" class='text-left btn btn-primary btn-circle m-5 p-1'><button>Logout</button></a>
    <a href="/profile/{{users.id}}" class='text-left btn btn-primary btn-circle m-5 p-1'><button>My Profile</button></a>
        <h1 class="display-3 text-center">Home Page</h1>
        <br>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#!">Updates</a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="navbar-link" href="/signups">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stores">Local Shops/Venues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/concerts">Upcoming Shows And Concerts</a>
                  </li>
              </ul>
            </div>
          </nav>
          <br>
          <h2 class="p-3"> News Updates</h2>
          <div class="card p-3 m-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h4>Comings soon</h4>
                        <br>
                        <h6>Upcoming shows</h6>
                        <br>
                        <p class="col-lg">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptas laborum, suscipit laudantium sint sequi soluta odit modi optio est maiores sed maxime minus animi! Ea deserunt deleniti explicabo. Laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ducimus ipsum tempora et odio quas libero, cumque fuga assumenda vel, sequi nostrum praesentium facere qui magni, dolore cum culpa corrupti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, hic. Quo, repellendus aperiam iure earum dolores laudantium cum totam distinctio ipsa quisquam. Unde necessitatibus cumque eaque iste adipisci reiciendis totam!\
                            <img class="d-flex ml-3" src="/images/pathToYourImage.png" alt="Generic placeholder image">
                        </p>
                    </div>
                    <div class="col-md">
                        <img src="{{ url_for('static', filename='imgs/elvis.jpeg') }}" style="width:200px;height:200px" class="border border-dark 1px p-2 rounded" alt="prev_concert">
                        <img src="{{ url_for('static', filename='imgs/guitar.jpeg') }}" style="width:200px;height:200px" class="border border-dark 1px p-2 rounded" alt="prev_concert">
                        <img src="{{ url_for('static', filename='imgs/girl.jpeg') }}" alt="prev_concert" style="width:200px;height:200px" class="border border-dark 1px p-2 rounded" >
                    </div>
                </div>
              
              <a href="#!" class="card-link">Card link</a>
              <a href="#!" class="card-link">Another link</a>
            </div>
          </div>
          <br>
          <h2 class="p-3"> Archived News</h2>
          <div class="card p-3 m-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h4 class="card-title">Past Shows</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Photos and more</h6>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptas laborum, suscipit laudantium sint sequi soluta odit modi optio est maiores sed maxime minus animi! Ea deserunt deleniti explicabo. Laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ducimus ipsum tempora et odio quas libero, cumque fuga assumenda vel, sequi nostrum praesentium facere qui magni, dolore cum culpa corrupti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, hic. Quo, repellendus aperiam iure earum dolores laudantium cum totam distinctio ipsa quisquam. Unde necessitatibus cumque eaque iste adipisci reiciendis totam!
                        </p>
                        <img class="d-flex ml-3" src="/images/pathToYourImage.png" alt="Generic placeholder image">
                        <a href="#!" class="card-link">Photos</a>
                        <a href="#!" class="card-link">Full Write Up</a>
                    </div>
                    <div class="col-md">
                        <h3> Want to Learn:</h3>
                        <ul>
                            <li><a href="learn.html">Learn how to Play Guitar</a></li>
                            <li><a href="learn.html">Learn how to Play Bass Guitar</a></li>
                            <li><a href="learn.html">Learn how to Play Drums</a></li>
                            <li><a href="learn.html">Learn how to Play the Cellio</a> </li>
                        </ul>
                        <br>
                        <br>
                        <a href="/signups" class="btn btn-success center">Sign Up</a>
                    </div>
                </div>
            </div>
          </div>

</body>
</html>