<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Profile</title>
</head>
<body>
            {% with messages = get_flashed_messages() %} 
            {% if messages %}
                <ul class=flashes>                 
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <br>
            <a href="/logout" class='text-left btn btn-primary btn-circle m-5 p-1'><buttton>Logout</buttton></a>
            <h2 class="text-right p-3 m-5">Hi {{users['first_name']}} {{users['last_name']}}!</h2>
            <nav class="navbar navbar-info bg-info m-2 navbar-cirlce">
                <!-- Navbar content -->
                <h1 class="display-3 text-center"> {{users['first_name']}} {{users['last_name']}} Profile</h1>        </nav>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="card-title">Profile Photo</div>
                        <img src="{{ url_for('static', filename='imgs/duckduckgo.jpg') }}" alt ='gnome' style="width:200px;height:200px" class="border border-dark 1px p-2 rounded">
                        <br>
                        <br>
                            <h5>Name: <!-- Jinja String interpolation--></h5>
                            <br>
                            <h5>University/College: <!-- Jinja String interpolation--></h5>
                            <br>
                            <h5>Major/Minor: <!-- Jinja String interpolation--></h5>
                            <br>
                            <h5>Instruments: <!-- Jinja String interpolation--></h5>
                            <br>
                            <h5>Musical Preferences: <!-- Jinja String interpolation--></h5>
                        <br>
                        <div>
                            <form action="/contact_user" method="post">
                                <h4>Shoot A Message:</h4>
                                    <textarea name="about" id="" cols="50" rows="10" class="form-group 20% m-5"></textarea>
                                    <input type="submit" value="Submit" class="btn btn-primary">
                            </form>
                        </div>
                        <br>
                    </div>
                        <div class="col-md">
                            <h4> Uploads:</h4>
                                <br>
                                    <h3 class="p-2">About:</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, eos quos distinctio natus dolores, porro officia fugiat minima dignissimos adipisci accusantium quia numquam ipsum vero eligendi architecto molestiae! Dolor, assumenda? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quas, quae voluptatibus rerum iure minima amet quidem voluptatem consequatur illum modi earum voluptate unde doloribus totam, autem nobis incidunt hic!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt culpa nobis veritatis, sit voluptas cupiditate dolores omnis laboriosam! Vitae, animi nesciunt incidunt dignissimos error quas tempore expedita architecto velit.</p>
                                <br>
                                    <h3 class="p-2">Posts:</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti in incidunt nostrum ipsam enim impedit repudiandae, amet fugit, suscipit quasi, sint nam perspiciatis repellendus sapiente neque dignissimos dolorem adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloremque recusandae sunt expedita accusantium numquam iusto sapiente facilis corporis voluptatem sed obcaecati delectus, est vitae quis, velit dolores at quisquam.</p>
                                <br>
                            <h1>Next Session/Availibility <a href="/sessions">Calendar</a></h1>
                        </div>
                    </div>
        </div>
        <br>

        <nav class="navbar fixed-bottom navbar-dark bg-dark p-3 m-2">
            <a class="navbar-brand" href="/homepage">Updates</a>
            <a class="navbar-brand" href="/signups">SignUps</a>
            <a class="navbar-brand" href="/stores">Local Shops/Venues</a>
            <a class="navbar-brand" href="/concert">Concerts Near You</a>
            <a class="navbar-brand" href="/classes">Classes</a>
        </nav>
</body>
</html>