<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Fisnish Profile</title>
</head>
<body>
        {% with messages = get_flashed_messages() %} 
        {% if messages %}
            <ul class=flashes>                 
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <br>
        <a href="/logout" class='text-left btn btn-primary btn-circle m-5 p-1'><buttton>Logout</buttton></a>
        <h2 class="text-right p-3 m-5">Hi {{users['first_name']}} {{users['last_name']}}!</h2>
        <nav class="navbar navbar-info bg-info m-2 navbar-cirlce">
            <!-- Navbar content -->
            <h1 class="display-3 text-center">Create Your Profile</h1>
    <h3 class="p-3 m-2 text-center">Please fill out the rest of the required information to access the home page</h3>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="card-title">Upload your Profile Photo</div>
                    <img src="{{ url_for('static', filename='imgs/duckduckgo.jpg') }}" alt ='gnome' style="width:200px;height:200px" class="border border-dark 1px p-2 rounded">
                    <br>
                    <br>
                    <input type="file" class="form-control-file text-center" id="exampleFormControlFile1">
                    <br>
                    <br>
                    <form action="/finish" method="POST">
                    <div class="form-group 20% p-1 m-2">
                        <h4 for="formGroupExampleInput">College/University:</h4>
                        <p><input type="text" name="college"></p>
                        </div>
                        <div class="form-group 20% p-1 m-2">
                        <h4 for="formGroupExampleInput2">City/Town</h4>
                        <p><input type="text" name="city"><p>
                            <br>
                        </div>
                    </div>
                    <div class="col-md">
                        <h4>Instruments:</h4>
                            <br>
                                <p>Select some of the instruments you play:</p>
                                {% for instrument in instruments %}
                                <label for="{{instrument.name}}">{{instrument.name}}</label>
                                <input type="checkbox" id="{{instrument.name}}" name="instruments" value="{{instrument.id}}">
                                {% endfor %}
                            <br>
                            <br>
                        <h4>About you:</h4><textarea name="about" id="" cols="50" rows="10" class="form-group 20% m-5"></textarea>
                        <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>
                </form>
                </div>
    </div>
    <br>
    
      <nav class="navbar fixed-bottom navbar-dark bg-dark p-3 m-2">
        <a class="navbar-brand" href="/homepage">Updates</a>
        <a class="navbar-brand" href="/signups">SignUps</a>
        <a class="navbar-brand" href="/stores">Local Shops/Venues</a>
        <a class="navbar-brand" href="/concert">Concerts Near You</a>
        <a class="navbar-brand" href="/classes">Classes</a>
      </nav>
</body>
</html>